/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoBooki {
    width: 61px;
    height: 19px;
}
.divButtonHeader {
    display: flex;
    gap: 50px;
}

.buttonHeaderHébergement {
    width: 113px;
    height: 35px;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
}

.buttonHeaderHébergement:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

.buttonHeaderActivité {
    width: 63px;
    height: 35px;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
}

.buttonHeaderActivité:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/* After Header Text */

.afterHeaderText h2 {
    margin-bottom: 5px;
}

.afterHeaderText p {
    margin-top: 0;
}

/* search Bar */
.searchBox {
    display: flex;
    margin-top: 35px;
}

.boxIcone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F2F2F2;
}

.icone{
    color: black;
    font-size: 20px;
}
.noEspaceInput {
    display: flex;
}

.inputSearch {
    border: 2px solid #F2F2F2;
    width: 210px;
    height: 44px;
    border-right: transparent;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.buttonSearch {
    width: 132px;
    height: 49px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    font-weight: 700;
}

/* Filtres */
.filtres {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.buttonFiltre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
    background-color: transparent;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

.buttonFiltreEconomique {
    width: 173px;
    height: 50px;
}

.buttonFiltreFamille {
    width: 134px;
    height: 50px;
}

.buttonFiltreRomantique {
    width: 170px;
    height: 50px;
}

.buttonFiltreNosPepites {
    width: 167px;
    height: 50px;
}

.buttonFiltre:hover {
    background-color: lightblue;
}
/*Box info*/
.boxInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border-radius: 100%;
    border: 1px solid #F2F2F2;
    width: 24px;
    height: 24px;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.positionCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.firstCard {
    display: flex;
    width: 250px;
    height: 207px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.firstCard img {
    display: flex;
    width: 235px;
    height: 124px;
    object-fit: cover;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titleCardHebergement {
    margin-top: 5px;
    margin-left: 15px;
    align-self: flex-start;
}

.textCardHebergement {
    margin-top: -16px;
    margin-left: 15px;
    align-self: flex-start;
}

.starsCardHebergement {
    margin-top: -12px;
    margin-left: 15px;
    align-self: flex-start;
}

.hebergements h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille */

.activites {
    box-sizing: border-box;
}

.activites h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.activitesCardsPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.activitesCards {
    display: flex;
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activitesCardsTxt {
    display: flex;
    width: 297px;
    height: 59px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activitesCardsTxt h4 {
    padding-left: 15px;
}

/* Footer */
.boxFooter {
    display: flex;
    align-items: flex-start;
    width: 1340px;
    height: 163px;
    margin-top: 80px;
    background-color: var(--main-bg-color);
    gap: 250px
}

.boxFooter div:first-child {
    margin-left: 30px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .afterHeaderText {
        margin-top: 50px;
    }

    /* Filtres */
    .filtres {
        flex-wrap: wrap;
    }
    .filtres h2{
        width: 100%;
        margin-bottom: 5px;
    }

    /* Box Hebergements + Les plus populaires */

    .hebergements-and-populaires {
       flex-wrap: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    /* Populaires */
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*Activités*/
    .activitesCards {
        width: 193px;
        height: 200px;
    }

    .activitesCardsTxt {
        width: 193px;
        height: 70px;
    }

    /* Footer */
    .boxFooter {
        width: 924px;
        gap: 110px
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0 0px;
    }
    /*Header*/
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .logoBooki {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .divButtonHeader {
        width: 100%;
        gap: 0;
    }

    .buttonHeaderHébergement,
    .buttonHeaderActivité {
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
        border-bottom-: 10px;
    }

    .buttonHeaderHébergement:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .buttonHeaderActivité:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    /* After Header Text */
    .afterHeaderText {
        justify-content: center;
        padding-left: 10px;
        font-size: 22px;
    }

    /* barre de recherche */
    .searchBox {
        justify-content: center;
    }
    .inputSearch {
        width: 250px;
        margin-right: -10px;
    }
    .buttonSearch {
        width: 49px;
        height: 49px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
        font-size: 0px;
    }
    .buttonSearch .fa-sistrix{
        font-size: 20px;
        font-weight: 700;
    }

    /* Filtres */
    .filtres {
        justify-content: center;
    }
    .filtres h2{
        padding-left: 10px;
    }
    .buttonFiltreEconomique, .buttonFiltreFamille, .buttonFiltreRomantique, .buttonFiltreNosPepites {
        width: 162.5px;
        height: 50px;
    }

    .boxInfo {
        padding-left: 10px;
    }

    /* Hebergements et populaires */
    .hebergements-and-populaires section {
    }

    .hebergements-and-populaires .hebergements {
        order: 2;
        background-color: transparent;
    }

    .hebergements-and-populaires .populaires {
        order: 1;
        border-radius: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .card {
        width: 335px;
        height: 146px;
    }
}